.kss--square {
    width: 150px;
    height: 150px;
    position: relative;
    border: solid 5px white;
    padding: 4px;
    margin: 5px;
    box-shadow:
    0 0 0 1px grey,

}
.kss--outline {
    outline: dotted 1px grey;
}
.kss--width {
    width: 300px;
}
.kss--volume {
    width: 250px;
    height: 300px;
}
.kss--bg {
    background-color: rgba(pink,0.7);
}
.kss--outline-pseudo,
.kss--outline-pseudos *{
    &:before,&:after {
        outline: dotted 1px grey;
    }
}
.kss-fullwidth-container {
    height: 600px;
    .kss-fullwidth {
        width: 100vw;
        //margin-left: calc(((100vw - 100%)/2) * -1);
        transform:translateX(-50%);
        position: absolute;
        left: 50%;
        height: 300px;
        outline: dashed 1px black;
    }
}