// ------------------------------------------------------------------------------
//   @group Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
$md-colors-background     : #fefefe;

$md-colors-foreground     : #444;
$md-colors-headers        : #111;
$md-colors-quotes         : #666;

$md-colors-link           : #0645ad;
$md-colors-link-visited   : #0b0080;
$md-colors-link-hover     : #06e;
$md-colors-link-active    : #faa700;

$md-colors-selection      : rgba(255,255,0,0.3);
$md-colors-selection-text : $md-colors-foreground;

$md-font-headers          : $kss-font;
$md-font-body             : $kss-font;
$md-font-monospace        : 'Courier New', Courier, monospace;

// ------------------------------------------------------------------------------
//   @group Pagewide Styles
// ------------------------------------------------------------------------------
// These are totally optional of course

.kss-box{
    color:$md-colors-foreground;
    background:$md-colors-background;

    border: solid 1px $kss-grey;

    font-family: $md-font-body;
    font-size:14px;

    line-height:1.5em;
    padding:1em;

    margin-bottom: 20px;
}



#kss-box, .kss-box, .kss-mod-desc {
    // ------------------------------------------------------------------------------
    //   @group Hyperlinks
    // ------------------------------------------------------------------------------
    a {
        @extend %reset-a;
        color:$md-colors-link;
        text-decoration:underline;


        &:visited { color: $md-colors-link-visited; }
        &:hover   { color: $md-colors-link-hover;   }
        &:active  { color: $md-colors-link-active;  }
        &:focus   { outline: thin dotted; }

        &:hover, &:active {
            outline: 0;
        }

        &::-moz-selection, &::selection {
            background: $md-colors-selection;
            color: $md-colors-link;
        }
    }

    ::-moz-selection, ::selection {
        background: $md-colors-selection;
        color: $md-colors-selection-text;
    }

    // ------------------------------------------------------------------------------
    //   @group Paragraphs and Headings
    // ------------------------------------------------------------------------------
    p {
        @extend %kss-p;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $md-font-headers;
        color: $md-colors-headers;
        font-weight: normal;
        line-height: 1em;
    }

    h4, h5, h6 {
        font-weight: bold;
    }

    h1 { font-size: 2.5em; }
    h2 { font-size: 2em;   }
    h3 { font-size: 1.5em; }
    h4 { font-size: 1.2em; }
    h5 { font-size: 1em;   }
    h6 { font-size: 0.9em; }

    // ------------------------------------------------------------------------------
    //   @group General Typography
    // ------------------------------------------------------------------------------
    blockquote {
        color: $md-colors-quotes;
        margin: 0;
        padding-left: 1.5em;
        border-left: 0.5em mix($md-colors-quotes, $md-colors-background, 25%) solid;
    }

    hr {
        display: block;
        height: 2px;
        border: 0;
        border-top: 1px solid lighten($md-colors-foreground, 60%);
        border-bottom: 1px solid darken($md-colors-background, 10%);
        margin: 1em 0;
        padding: 0;
    }

    pre, code, kbd, samp {
        font-family: $md-font-monospace;
        color: mix($md-colors-foreground, $md-colors-headers, 50%);
        font-size: 0.98em;
    }

    pre {
        white-space: pre;
        white-space: pre-wrap;
        word-wrap:   break-word;
    }

    b, strong     { font-weight: bold; }
    dfn, mark, em { font-style: italic; }

    ins {
        background: #ff9; color: $md-colors-headers; text-decoration: none;
    }

    mark {
        background: #ff0; color: $md-colors-headers; font-weight: bold;
    }

    sub, sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    sup { top: -0.5em;     }
    sub { bottom: -0.25em; }

    ul, ol {
        margin: 1em 0;
        padding: 0 0 0 2em;
    }
    li p:last-child {
        margin:0
    }
    dd {
        margin: 0 0 0 2em;
    }

    // ------------------------------------------------------------------------------
    //   @group Non-Text Elements
    // ------------------------------------------------------------------------------
    img {
        max-width:100%;
        border: 0;
        -ms-interpolation-mode: bicubic;
        vertical-align: middle;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    td {
        vertical-align: top;
    }
}
