$kss-background-color: rgba(white,0.4);

$kss-font: arial, sans-serif;
$kss-font-size: 13px;
$kss-line-height: 1.5;
$kss-font-color: #333;

$kss-grey: grey;
$kss-light-blue: lightblue;
$kss-blue: blue;

$kss-grey-level-1: $kss-grey;
$kss-grey-level-2: #a6a6a2;
$kss-grey-level-3: #b2b2af;
$kss-grey-level-4: #bfbfbc;
$kss-grey-level-5: #cbcbc9;

$kss-very-light-red: #e95e3b;
$kss-light-red: #ff3d25;
$kss-dark-red: #b32d1f;
$kss-very-dark-red: #691c18;
$kss-very-very-dark-red: #33110f;

$kss-red-level-1: $kss-very-light-red;
$kss-red-level-2: #kss-light-red;
$kss-red-level-3: #kss-dark-red;
$kss-red-level-4: #kss-very-dark-red;
$kss-red-level-5: #kss-very-very-dark-red;;

$kss-border-color: $kss-blue;

$kss-ns-blue: #003082;
$kss-ns-blue-2: #0050a8;
$kss-ns-blue-3: #0060ba;

$kss-ns-yellow: #ffc917;
$kss-ns-yellow-2: #ffb519;
$kss-ns-yellow-3: #ffa11d;